<template>
  <section dir="rtl" class="container py-5">
    <div class="row">
      <div class="col-md-7 text-right">
        <h2 class="section-header pb-4">کاپیتان این پرواز چه کسی است؟</h2>

        <p class="CustomParagraph">
          بنیان گذار Learn Aviation، آریا درودیان میباشد. ایشان متولد و بزرگ شده
          لندن است، تحصیلات آکادمی خود را در رشته امنیت شبکه در دانشگاه
          Westminster University لندن گذراندند، ايشان دوره خلبانی خود را در
          انگلیس اغاز کرد و در سال ۱۳۹۶ برای اتمام دوره خلبانی به ایران سفر کرد،
          و در این حین مشغول به آموزش زبان انگلیسی و فرانسوی شده و پس از اطمینان
          از موثر بودن روش تدریس و شیوه ی نوین آموزش، شروع به تاسیس گروه آموزشی
          Learn Aviation نمود.
          <!-- <br />
            <br />لازم به ذکر است که وی یکی از طراحان و اساتید شیوه جدید امتحان
            زبان انگلیسی سازمان هواپیمایی کشور (LPR) که مختص تمامی خلبانان و
            نیروهای مراقبت پرواز میباشد، است. -->
        </p>
      </div>

      <div class="col-md-5 pt-4 text-center">
        <img
          class="rounded-circle img-fluid"
          src="~static/img/frontend/aryapilot.png"
          alt="Picture of our fearless leader 2"
        />
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.section-header {
  font-size: 1.3em !important;
  color: rgba(0, 0, 0, 0.8) !important;
  // color: #ff0249;
  font-family: IranSansBold !important;
  text-align: right !important;
}

.subheading2 {
  color: rgb(0, 0, 0) !important;
}

.CustomParagraph {
  font-size: 1.1em !important;
  line-height: 1.9em !important;
  color: rgb(0, 0, 0) !important;
}

@media screen and (max-width: 768px) {
  .CustomParagraph {
    font-size: 1.05em !important;
  }
}

@media only screen and (min-width: 1100px) {
  .bg {
    margin: 4em 0 !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .CustomParagraph {
    font-size: 1.15em !important;
  }
}
</style>
