<template>
  <section dir="rtl" class="container text-center">
    <h1 class="pt-5 text-center">همراه ما به اهدافت برس</h1>
    <p class="subheader text-muted pb-4">
      ‎آموزش مطالب خلبانی با آریا درودیان
    </p>
    <div class="row text-center">
      <div class="col-md-4 section">
        <span class="icon">
          <font-awesome-icon :icon="['fa', 'address-card']" />
        </span>
        خودت رو برای شغل در <br />
        صنعت هوانوردی آماده کن.
      </div>

      <div class="col-md-4 section">
        <span class="icon">
          <font-awesome-icon :icon="['fab', 'avianex']" />
        </span>
        مهم ترین نکته های زبان <br />
        هوانوردی رو یاد بگیر.
      </div>

      <div class="col-md-4 section">
        <span class="icon">
          <font-awesome-icon :icon="['fa', 'graduation-cap']" />
        </span>
        نمره دلخواهت رو در <br />
        آزمون هوانوردی کسب کن.
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 1.55em !important;
  // color: rgba(0, 0, 0, 0.8) !important;
  color: #ec2588;
  font-family: IranSansBold !important;
}

.subheader {
  font-size: 0.95em !important;
}

.section {
  color: rgb(58, 58, 58);
  font-size: 1em;
  padding-bottom: 2em;
}

.icon {
  font-size: 3.6em;
  color: #ec2588;
  // color: #804ae3;
  display: block;
}
</style>
