<template>
  <section dir="rtl" class="container mb-5">
    <h2 class="section-header">
      آخرین مقالات
    </h2>
    <p class="text-right text-muted">
      مقالات به‌روز و کاربردی برای افزایش سطح دانش شما.
    </p>

    <!-- Articles  -->
    <div class="row article-section mt-5">
      <div class="col-lg-4 col-md-6 col-sm-12 pb-3 article-section">
        <article1 />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 pb-3 article-section">
        <article2 />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 pb-3 article-section">
        <article3 />
      </div>
    </div>
    <nuxt-link to="articles">
      <b-button class="btn">
        مشاهده همه دوره ها
      </b-button>
    </nuxt-link>
  </section>
</template>

<script>
import article1 from '@/components/FrontendComponents/Articles/article1';
import article2 from '@/components/FrontendComponents/Articles/article2';
import article3 from '@/components/FrontendComponents/Articles/article3';

export default {
  components: {
    article1,
    article2,
    article3,
  },
};
</script>

<style lang="scss" scoped>
.bg {
  background-color: #fafbfe !important;
}

.section-header {
  font-size: 1.3em !important;
  color: rgba(0, 0, 0, 0.8) !important;
  // color: #ff0249;
  font-family: IranSansBold !important;
  text-align: right !important;
}

.btn {
  // background-color: #ef7067;
  background-color: #ff0249;
}

@media only screen and (max-width: 768px) {
  .btn {
    margin-left: 17px !important;
  }

  .article-section {
    padding-right: 10px;
    padding-left: 10px;
  }
}
</style>
