<template>
  <div dir="rtl" class="pb-2">
    <nuxt-link to="articles/lpr-intro">
      <div class="card">
        <img
          class="card-img-top"
          src="~static/img/frontend/article-pics/Article1/ArticleCover1-opt.png"
          alt="article-card-picture"
        />
        <!-- <div class="category">
          LPR
        </div> -->
        <div class="card-body">
          <h3 class="card-title text-center">
            معرفی آزمون زبان هوانوردی
          </h3>
          <div class="d-flex justify-content-between card-footer">
            <span class="card-footer-text">
              LPR
              <font-awesome-icon :icon="['fa', 'bullseye']" />
            </span>

            <span class="card-footer-text"
              >1399-03-28
              <font-awesome-icon :icon="['fa', 'calendar-alt']" />
            </span>
          </div>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<style lang="scss" scoped>
.card {
  border-radius: 10px !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.17), 0 10px 10px rgba(0, 0, 0, 0.14);
  background: #f1f1f1 !important;
  border: none !important;
  width: auto;
}

.card-title {
  color: #292929;
  font-size: 1em !important;
  font-family: IranSansBold !important;
  text-align: center !important;
}

.card-img-top {
  border-radius: 10px 10px 0 0 !important;
}

.card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: transform 1s !important;
  -webkit-transform: translateY(-3px) !important;
  transform: translateY(-3px) !important;
  cursor: pointer !important;

  a {
    text-decoration: none !important;
  }
}

.category {
  top: 1em;
  left: 1em;
  border-radius: 10px;
  position: absolute;
  padding: 3px 16px;
  color: #fff;
  background: #ffca3a;
  // color: rgb(53, 53, 53) !important;
  // background: rgb(241, 241, 241) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 0.95em !important;
  text-align: center !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card:hover .category {
  background: #ef7067 !important;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid white;
}
.card:hover .card-title {
  color: #ef7067 !important;
}
.card-footer {
  background-color: #f1f1f1 !important;
  border-top: 1px solid rgba(158, 158, 158, 0.1);
  padding: 1em 1.2em 0 1.2em;
  .card-footer-text {
    color: #00000083 !important;
    font-size: 0.95em;
  }
}

a:hover {
  text-decoration: none !important;
}

@media only screen and (max-width: 768px) {
  .card {
    margin-left: 0.7em !important;
    margin-right: 0.7em !important;
  }

  .card-title {
    font-size: 1.03em !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .card-footer .card-footer-text {
    font-size: 0.97em !important;
  }
  .category,
  .card-category {
    font-size: 1.07em;
  }
}
</style>
