<template>
  <section dir="ltr" class="bg-quiz d-flex align-items-center">
    <div class="container">
      <h1 class="quiz-page-title">
        <font-awesome-icon class="mr-2" :icon="['fa', 'award']" /> Quiz
      </h1>
      <div class="quiz-section">
        <div class="mb-3">
          <h1 class="quiz-header pt-4 pb-3">
            <font-awesome-icon :icon="['fa', 'volume-up']" />
            Simulated LPR Listening 4
          </h1>
          <!-- QUESTION DETAILS -->
          <div class="ml-lg-5 text-left">
            <p class="quiz-detail">
              <!-- <font-awesome-icon :icon="['fa', 'question']" /> -->
              - Questions: <span>5</span>
            </p>

            <p class="quiz-detail">
              <!-- <font-awesome-icon :icon="['fa', 'theater-masks']" /> -->
              - Difficulty: <span>Basic</span>
            </p>

            <!-- <p>
          <font-awesome-icon :icon="['fa', 'clock']" />
          Time <span> 24 دقیقه</span>
        </p> -->
          </div>
        </div>

        <!-- Audio Section -->
        <vue-plyr>
          <audio>
            <source
              src="https://askarya.arvanvod.com/zbBynvyaWN/Mm94OrAvbe/h_64_64k.mp4"
              type="audio/mp4"
            />
          </audio>
        </vue-plyr>

        <!-- <hr class="hr" /> -->

        <!-- QUESTION SECTION -->
        <div v-if="state == 'question'">
          <h1 class="mt-3 pb-4 pl-2 title">
            {{ question.question }}
          </h1>
          <ul class="row px-0 mb-4">
            <li
              class="col-md-6 col-sm-12"
              v-for="answer in question.answers"
              :key="answer.id"
            >
              <b-button
                class="question-button"
                v-on:click="handleResponse"
                v-bind:data-id="answer.id"
              >
                <span class="mr-2 d-inline-flex">◯</span> {{ answer.answer }}
              </b-button>
            </li>
          </ul>
        </div>

        <!-- ANSWER SECTION -->
        <div v-if="state == 'answer'">
          <h1 class="mt-3 pb-4 pl-2 title">{{ question.question }}</h1>
          <ul class="px-0 row">
            <li
              class="col-md-6 col-sm-12"
              v-for="answer in question.answers"
              :key="answer.id"
            >
              <b-button
                block
                class="answer-button"
                v-bind:class="{
                  'correct-answer text-white': answer.correct,
                  'wrong-answer text-white':
                    answer.id == selectedAnswer.id && !answer.correct,
                }"
              >
                <span class="mr-2 d-inline-flex">◯</span> {{ answer.answer }}
              </b-button>
            </li>
            <b-button
              block
              type="default"
              class="next-btn mt-3"
              v-on:click.prevent="handleNext"
            >
              Next Question
              <span class="pl-2">
                <font-awesome-icon :icon="['fa', 'caret-right']" />
              </span>
            </b-button>
          </ul>

          <!-- CORRECT/INCORRECT SECTION -->
          <!-- <div class="text-right mb-3">
        <p v-if="selectedAnswer.correct" class="mt-4">
          🎉 Correct, well done! 🎉
        </p>
        <p v-else class="my-3 text-lg">Wrong answer, sorry</p>
        <b-button type="default" class="custom-btn" v-on:click="handleNext">
          Next question
          <i class="fas fa-caret-right pl-2"></i>
        </b-button>
      </div> -->
        </div>

        <!-- RESULTS SECTION -->
        <div v-if="state == 'results'">
          <h1 class="mt-5 results-title text-center">
            Congratulations, you completed the quiz!
          </h1>
          <p class="my-2 py-3 grades text-center">
            You got <span class="font-weight-bold"> {{ score }} </span> out of
            <span class="font-weight-bold"> {{ questions.length }} </span>
          </p>
          <!-- <div dir="rtl" class="advice py-4 px-4">
        <p v-if="scorePercentage > 90">
          <i class="fas fa-info-circle ml-2"></i>
          سطح پیشرفته (Advanced)
          <br />
          <br />
          - این سطح از مهارت قادر است متون طولانی و پیچیده را درک کند و مکالمه
          های طولانی تری ارائه دهد. زبان آموز در این سطح، مهارت شنوایی و درک
          مطلب خیلی خوبی از خود نشان می دهند.ساختارهای پیچیده گرامری را درک کرده
          و به راحتی به کار می برد زبان آموز به مرحله یادگیری وارد شده و به شکل
          خودکار ساختارها را به درستی رعایت و استفاده می کند.
        </p>

        <p v-else-if="scorePercentage >= 50">
          <i class="fas fa-info-circle ml-2"></i>
          سطح متوسط (Intermediate)
          <br />
          <br />
          - زبان آموزان سطح متوسط اغلب به راحتی از پس موقعیت های مختلف تعاملی بر
          می آیند در واقع نوعی به استقال زبانی دست می یابند، و قابلیت ارائه
          نوشته و متن هایی با پیچیدگی متوسط را دارا هستند در این سطح زبان آموز
          قادر می شود تا درباره موضعاتی طبق شرایط و رخدادها صحبت کند مانند
          رویاها و باورها و اعتقادهای شخصی.
        </p>

        <p v-else>
          <i class="fas fa-info-circle ml-2"></i>
          <span class="font-weight-bolder"> سطح مبتدی (Elementary) </span>
          <br />
          <br />
          - در صورتی که سطح شما در آزمون بالا مبتدی تعیین شده باشد این به این
          معنا می باشد که شما قادر به درک لغات انگلیسی پرکاربرد و اصطلاحات
          روزمره انگلیسی می باشید.
          <br />
          <br />
          - زبان آموزان در این سطح مبتدی قادر به مکالمه انگلیسی با سرعت نسبتا
          آهسته می باشد. و در موضوعات روزمره قادر به مکلمه های کوتاه می باشند.
        </p>
      </div> -->
          <div class="text-center mb-4">
            <b-button
              type="default"
              v-on:click="handleRestart"
              class="restart-btn mt-3"
            >
              <span class="mr-2">
                <font-awesome-icon :icon="['fa', 'sync']" spin />
              </span>
              Restart the Quiz
            </b-button>
          </div>
        </div>
      </div>

      <div class="pb-5">
        <nuxt-link to="/learn">
          <base-button native-type="submit" class="btn-back animation-on-hover">
            <span class="pr-2"
              ><font-awesome-icon :icon="['fas', 'arrow-left']"
            /></span>
            بازگشت به اتاق آموزش
          </base-button>
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: function() {
    return {
      state: 'question',
      currentQuestion: 0,
      selectedAnswer: 0,
      questions: [
        {
          question: `1) What was the main part of this story?`,
          answers: [
            {
              answer: 'Aircraft exploded at fuel pump',
            },
            {
              answer: 'Aircraft was unable to taxi',
            },
            {
              answer: 'Aircraft wing struck fuel pump',
              correct: true,
            },
            {
              answer: 'Not sure',
            },
          ],
        },
        {
          question: `2) What happened to the aircraft?`,
          answers: [
            {
              answer: 'The aircraft`s tyre burst',
            },
            {
              answer: 'Left wing struck fuel pump',
              correct: true,
            },
            {
              answer: 'Right wing struck fuel pump',
            },
            {
              answer: 'Left wing struck another aircraft',
            },
          ],
        },
        {
          question: `3) Where did this incident occur?`,
          answers: [
            {
              answer: 'Apron',
            },
            {
              answer: 'Airfield fuel pump installation',
              correct: true,
            },
            {
              answer: 'Taxiway',
            },
            {
              answer: 'At the gate',
            },
          ],
        },

        {
          question: `4) How severe was the damage to the aircraft?`,
          answers: [
            {
              answer: 'Severe',
            },
            {
              answer: 'Minor',
              correct: true,
            },
            {
              answer: 'Beyond repair',
            },
            {
              answer: 'Not sure',
            },
          ],
        },

        {
          question: `5) How many passengers were on board?`,
          answers: [
            {
              answer: '3',
            },
            {
              answer: '1',
              correct: true,
            },
            {
              answer: '4',
            },
            {
              answer: 'Not sure',
            },
          ],
        },
      ],
      score: 0,
    };
  },
  computed: {
    question() {
      return this.questions[this.currentQuestion];
    },
    scorePercentage() {
      return (this.score * 100) / this.questions.length;
    },
  },
  methods: {
    handleResponse(event) {
      const selected = this.question.answers.find(
        (a) => a.id == event.target.dataset.id
      );
      this.selectedAnswer = selected;
      if (selected.correct) {
        this.score++;
      }
      this.state = 'answer';
    },
    handleNext(event) {
      this.currentQuestion++;
      if (this.currentQuestion >= this.questions.length) {
        this.state = 'results';
      } else {
        this.state = 'question';
      }
    },
    randomizeOrder() {
      this.questions.map((question) => {
        question.answers.sort((a, b) => Math.random() - 0.5);
        question.answers.map((answer, index) => (answer.id = index));
      });
      // this.questions.sort((a, b) => Math.random() - 0.5);
    },
    handleRestart(event) {
      this.currentQuestion = 0;
      this.score = 0;
      this.state = 'question';
      this.randomizeOrder();
      window.location.href = '/learn/lpr/listening/quiz4';
    },
  },
  created() {
    this.randomizeOrder();
  },
};
</script>

<style lang="scss" scoped>
.bg-quiz {
  min-height: 100vh;
}
</style>
