<template>
  <div class="card mb-3 mt-5">
    <div class="row no-gutters d-flex align-items-center">
      <div class="col-md-2 col-sm-12">
        <img v-if="author.img" class="card-img" :src="author.img" />
      </div>
      <div class="col-md-10 col-sm-12">
        <div class="card-body">
          <h4 class="card-title">درباره {{ author.name }}</h4>
          <p class="card-text">
            {{ author.bio }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    author: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  background-color: #fff;
  border: 1px dashed #f1f1f1;
  border-radius: 15px;
  text-align: right;
}

.card-title {
  font-size: 1.1em !important;
  font-family: IranSansBold !important;
  color: #2e2e2e;
}

.card-text {
  font-size: 1em !important;
  line-height: 1.8;
  color: #3f3f3f;
}

.card-img {
  border-radius: 100%;
  width: 110px;
  height: 110px;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media only screen and (max-width: 900px) {
  .card-img {
    margin-top: 1em;
  }
}
</style>
