<template>
  <footer class="copyright text-center">
    <p class="container">
      طراحی و تولید شده توسط
      <a href="https://learn-aviation.com">LearnAviation</a>، با افتخار در ایران
      <font-awesome-icon :icon="['fa', 'heart']" />
      سال ١٣٩۹
    </p>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.copyright {
  font-size: 0.85em !important;
  color: rgb(58, 58, 58);
  padding: 1.1em 0;
  direction: rtl;

  a {
    font-family: IranSans !important;
  }

  a,
  svg:not(:root).svg-inline--fa {
    color: #ef476f !important;
  }
}

@media (max-width: 768px) {
  .copyright {
    p {
      font-size: 0.82em !important;
    }
  }

  .copyright {
    a {
      font-size: 0.9em !important;
    }
  }
}
</style>
