<template>
  <b-navbar toggleable="lg" sticky type="light" variant="light">
    <nuxt-link class="navbar-brand" to="/">
      <img
        src="~static/img/learn-aviation-logo.svg"
        width="60"
        alt="Learn Aviation Logo"
      />
    </nuxt-link>

    <b-navbar-toggle target="nav-collapse" />
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item
          class="custom-nav-link nuxt-link-exact-active pr-custom"
          to="/"
        >
          خانه
        </b-nav-item>

        <b-nav-item
          class="custom-nav-link nuxt-link-exact-active pr-custom"
          to="/learn"
        >
          اتاق آموزش
        </b-nav-item>

        <b-nav-item
          class="custom-nav-link nuxt-link-exact-active pr-custom"
          to="/classes"
        >
          کلاس های خصوصی
        </b-nav-item>

        <b-nav-item
          class="custom-nav-link nuxt-link-exact-active pr-custom"
          to="/articles"
        >
          مقالات
        </b-nav-item>

        <b-nav-item
          class="custom-nav-link nuxt-link-exact-active pr-custom"
          to="/faq"
        >
          سوالات متداول
        </b-nav-item>

        <b-nav-item
          class="custom-nav-link nuxt-link-exact-active pr-custom"
          to="/contact"
        >
          تماس با ما
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>

    <b-navbar-nav class="ml-auto">
      <AppSearchInput class="ml-4" />
    </b-navbar-nav>
  </b-navbar>
</template>

<style lang="scss" scoped>
.navbar {
  background: #fff !important;
  -webkit-box-shadow: 0 4px 2px -2px hsla(0, 0%, 60%, 0.5) !important;
  box-shadow: 0 4px 2px -2px hsla(0, 0%, 60%, 0.5) !important;
  direction: rtl;
}
.custom-nav-link {
  font-size: 0.95rem !important;
}
a {
  color: black !important;
}
a:hover {
  color: #ef476f !important;
}
.nuxt-link-exact-active {
  color: #ef476f !important;
}
@media (min-width: 992px) {
  .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .pr-custom {
    padding-left: 2em !important;
  }
  .pr-custom:first-child {
    padding-right: 3em !important;
  }
  a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
@media (max-width: 992px) {
  .custom-nav-link {
    font-size: 1.3em !important;
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    text-align: right;
    padding-top: 1rem;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .custom-nav-link:last-child {
    padding-bottom: 1.2em;
    padding-top: 0.7rem;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-nav {
    padding: 1em 0 0 0 !important;
  }
}
a {
  color: black;
}
</style>
