@font-face {
  font-family: IranSans;
  src: url(~assets/fonts/IranSans/IRANSansWebFaNum.eot),
    url(~assets/fonts/IranSans/IRANSansWebFaNum.woff2) format("woff2"),
    url(~assets/fonts/IranSans/IRANSansWebFaNum.woff) format("woff"),
    url(~assets/fonts/IranSans/IRANSansWebFaNum.ttf) format("truetype");
}

@font-face {
  font-family: IranSansBold;
  src: url(~assets/fonts/IranSansBold/IranSansBold.eot),
    url(~assets/fonts/IranSansBold/IranSansBold.woff2) format("woff2"),
    url(~assets/fonts/IranSansBold/IranSansBold.woff) format("woff"),
    url(~assets/fonts/IranSansBold/IranSansBold.ttf) format("truetype");
}

* {
  font-family: IranSans !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  /* direction: rtl; */
}

.plyr--audio .plyr__controls {
  background: #f5f5f5 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.plyr__menu {
  display: none !important;
}

.plyr__controls .plyr__controls__item.plyr__volume {
  padding-right: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.navbar-toggler {
  border: none !important;
}

.quiz-page-title {
  font-size: 2rem;
  text-align: center;
  padding-top: 1.1em;
  font-family: IranSansBold !important;
}

.animation-on-hover:hover {
  background-position: 0 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

::placeholder {
  font-size: 0.8em !important;
  color: #818181 !important;
}

.btn {
  border-width: 2px !important;
  border: none !important;
  position: relative !important;
  overflow: hidden !important;
  margin: 4px 1px !important;
  border-radius: 0.4285rem !important;
}

.btn-simple {
  border: 1px solid !important;
  border-color: #344675 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 10px 22px !important;
  background-color: transparent !important;
}

.btn-default {
  color: #fff;
  background-color: #344675;
  border-color: #344675;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary {
  background: #e14eca;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#e14eca),
    color-stop(#ba54f5),
    to(#e14eca)
  );
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #e14eca;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.btn-info {
  background: #1d8cf8;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#1d8cf8),
    color-stop(#3358f4),
    to(#1d8cf8)
  );
  background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #1d8cf8;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.btn-success {
  background: #00f2c3;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#00f2c3),
    color-stop(#0098f0),
    to(#00f2c3)
  );
  background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #00f2c3;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.btn-warning {
  background: #ff8d72;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#ff8d72),
    color-stop(#ff6491),
    to(#ff8d72)
  );
  background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #ff8d72;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff !important;
}

.btn-danger {
  background: #fd5d93;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#fd5d93),
    color-stop(#ec250d),
    to(#fd5d93)
  );
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #fd5d93;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.btn-round {
  border-width: 1px !important;
  border-radius: 30px !important;
  padding: 0.6em 1.2em;
}

::-moz-selection {
  color: #fff;
  background: #f72585;
}

::selection {
  color: #fff;
  background: #f72585;
}

/* QUIZ CSS */
.bg-quiz {
  background-color: #fafbfe;
}

.quiz-header {
  font-size: 1.5rem !important;
  color: #231f20;
  text-align: left;
  font-family: sans-serif, Verdana, Tahoma !important;
  // font-weight: bolder !important;
  .svg-inline--fa {
    font-size: 1.4rem;
    margin-right: 0.2rem;
    color: #5f5659 !important;
  }
}

.quiz-detail {
  color: #231f20 !important;
  font-size: 1rem;
  font-family: sans-serif, Verdana, Tahoma !important;
  margin-bottom: 6px;

  span {
    font-family: sans-serif, Verdana, Tahoma !important;
    font-weight: bolder;
  }

  .svg-inline--fa {
    font-size: 0.85rem;
    color: #5f5659 !important;
    margin-right: 0.3rem;
  }
}

.btn-back {
  font-size: 0.9rem;
  color: #ef476f;
  background-color: #ffffff !important;
  border-color: rgb(109, 109, 109) !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.quiz-section {
  padding: 0 1.5em;
  margin: 2.5em 0;
  border-radius: 8px !important;
  overflow: hidden !important;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15) !important;
  border-left: 2em solid #ef476f !important;
  border-right: 1px solid rgb(230, 230, 230) !important;
  border-bottom: 1px solid rgb(230, 230, 230) !important;
  border-top: 1px solid rgb(235, 235, 235) !important;
  overflow: hidden !important;
  font-family: sans-serif, Verdana, Tahoma !important;
  direction: ltr !important;
  background-color: rgb(245, 245, 245);

  .title {
    font-size: 1.3rem !important;
    font-family: sans-serif, Verdana, Tahoma !important;
    color: rgb(27, 27, 27) !important;
    text-align: left !important;
    padding-top: 15px;
  }

  .next-btn {
    background: #6600da !important;
    color: #fff;
    font-size: 1rem !important;
    padding: 10px 28px !important;
    font-family: sans-serif, Verdana, Tahoma !important;
    width: 100% !important;
    margin-left: 15px !important;
    margin-right: 14px !important;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }

  .next-btn:hover {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    background: transparent;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0), 0 10px 10px rgba(0, 0, 0, 0) !important;
    cursor: pointer;
  }

  .restart-btn {
    background-color: #e52e71 !important;
    color: white !important;
    font-size: 1rem !important;
    padding: 11px 20px !important;
    border-radius: 10px;
  }

  .results-title {
    font-size: 1.3em !important;
    font-family: sans-serif, Verdana, Tahoma !important;
    text-align: center !important;
    color: rgb(29, 29, 29) !important;
  }

  .btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .question-button {
    background: rgb(223, 223, 223);
    font-family: sans-serif, Verdana, Tahoma !important;
    color: rgb(44, 44, 44) !important;
    font-size: 1rem !important;
    padding: 13px 28px !important;
    margin-bottom: 15px !important;
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.045) !important;
    cursor: pointer;
  }

  .question-button:hover,
  .question-button:active,
  .question-button:focus,
  .question-button:focus-within,
  .question-button:visited {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    background: rgb(197, 197, 197) !important;
    border-color: rgb(197, 197, 197) !important;
  }

  .question-button:hover {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    background: rgb(197, 197, 197) !important;
  }

  .answer-button {
    background: rgb(226, 226, 226);
    font-family: sans-serif, Verdana, Tahoma !important;
    color: #a7a7a7 !important;
    font-size: 1rem !important;
    padding: 13px 28px !important;
    margin-bottom: 15px !important;
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }

  .answer-button:hover,
  .answer-button:active,
  .answer-button:focus,
  .answer-button:focus-within,
  .answer-button:visited {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    background: rgb(226, 226, 226) !important;
    border-color: rgb(226, 226, 226) !important;
  }

  .white-content .btn:hover {
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0),
      0 1px 3px rgba(0, 0, 0, 0);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0), 0 1px 3px rgba(0, 0, 0, 0);
  }

  .wrong-answer {
    background: #d54f42 !important;
    color: rgba(255, 255, 255, 0.85) !important;
  }

  .wrong-answer:hover,
  .wrong-answer:visited,
  .wrong-answer:active,
  .wrong-answer:focus,
  .wrong-answer:focus-within {
    background: #d54f42 !important;
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .correct-answer,
  .correct-answer:hover,
  .correct-answer:visited,
  .correct-answer:active,
  .correct-answer:focus,
  .correct-answer:focus-within {
    background: #06d6a0 !important;
    color: white !important;
  }

  .advice p {
    font-family: IranSans !important;
    font-size: 1rem !important;
    color: rgb(31, 31, 31) !important;
    text-align: right;
  }

  .btn-simple {
    border-color: transparent !important;
  }

  .restart-btn:hover {
    cursor: pointer !important;
  }

  .grades {
    font-size: 2em !important;
    color: #202020 !important;
    font-family: sans-serif, Verdana, Tahoma !important;

    span {
      font-family: sans-serif, Verdana, Tahoma !important;
      color: #e52e71 !important;
    }
  }

  li {
    list-style: none;
  }

  .hr {
    margin-bottom: 2em !important;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #843de84b, #e9e9e9);
  }
}

@media (max-width: 678px) {
  .quiz-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem !important;
    // font-weight: bolder;
    color: #272727 !important;

    .svg-inline--fa {
      font-size: 0.95rem;
    }
  }

  .quiz-detail {
    font-size: 0.92rem;
  }

  .quiz-section {
    width: auto !important;
    border-top: 2em solid #ef476f !important;
    border-bottom: 1px solid rgb(230, 230, 230) !important;
    border-left: 1px solid rgb(235, 235, 235) !important;
  }

  .quiz-section .title {
    font-size: 1.1rem !important;
  }

  .question-button,
  .answer-button {
    width: 100% !important;
  }

  .quiz-section .question-button,
  .quiz-section .answer-button {
    font-size: 0.9rem !important;
    padding: 12px 28px !important;
    margin-bottom: 9px !important;
  }

  .quiz-section .btn {
    font-size: 0.9rem !important;
  }

  .next-btn {
    font-size: 0.9rem !important;
  }

  .quiz-section .grades {
    font-size: 1.5em !important;
  }
}
