<template>
  <div dir="rtl" class="page">
    <AdBanner />
    <Navbar id="top" />
    <nuxt />
    <font-awesome-icon
      v-scroll-to="{
        el: '#top',
        duration: 1555,
        easing: 'linear',
        offset: -3000,
        force: true,
        cancelable: true,
        x: false,
        y: true
      }"
      class="go-to-top"
      :icon="['fa', 'chevron-up']"
    />
    <Footer />
  </div>
</template>

<script>
import AdBanner from "../components/AdBanner";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
export default {
  components: {
    AdBanner,
    Navbar,
    Footer
  }
};
</script>

<style lang="scss" scoped>
.page {
  min-height: calc(100vh - 70px) !important;
  background-color: rgb(250, 250, 250);
}
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
.go-to-top {
  position: fixed !important; /* Fixed/sticky position */
  bottom: 20px !important; /* Place the button at the bottom of the page */
  left: 20px !important; /* Place the button 30px from the left */
  z-index: 99 !important; /* Make sure it does not overlap */
  border: none !important; /* Remove borders */
  outline: none !important; /* Remove outline */
  cursor: pointer !important; /* Add a mouse pointer on hover */
  padding: 10px !important; /* Some padding */
  border-radius: 5px !important; /* Rounded corners */
  font-size: 3em !important; /* Increase font size */
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.22) !important; /* Set a background color */
}
.go-to-top:hover {
  background-color: #555 !important; /* Add a dark-grey background on hover */
  color: white !important;
}
@media (max-width: 768px) {
  .go-to-top {
    padding: 0.2em !important; /* Some padding */
    font-size: 2.6em !important; /* Increase font size */
  }
}
</style>
