<template>
  <article dir="rtl" class="container">
    <h1 class="article-title">
      {{ article.title }}
    </h1>
    <div class="row">
      <!-- Blog Article -->
      <div class="col-md-9 col-sm-12">
        <!-- content from markdown -->
        <div class="card-custom article-text">
          <nuxt-content :document="article" />
        </div>

        <!-- content author component -->
        <author :author="article.author" />

        <!-- prevNext component -->
        <PrevNext :prev="prev" :next="next" class="mt-5" />
      </div>

      <!-- Blog Sidebar -->
      <div class="col-md-3 col-sm-12">
        <div class="card-custom">
          <img :src="article.img" :alt="article.alt" class="blog-img" />

          <div class="text-right p-3">
            <p class=" pb-2">
              <font-awesome-icon :icon="['fas', 'id-card']" class="ml-2 icon" />
              <span> نویسنده مقاله:</span>
              {{ article.author.name }}
            </p>

            <p class="w-100 pb-2">
              <font-awesome-icon
                :icon="['fas', 'calendar-alt']"
                class="ml-2 icon"
              />
              <span> تاریخ انتشار:</span>
              {{ formatDate(article.createdAt) }}
            </p>

            <div class="w-100">
              <font-awesome-icon :icon="['fas', 'tags']" class="ml-2 icon" />
              <span> دسته بندی ها:</span>
              <span v-for="(tag, id) in article.tags" :key="id">
                <NuxtLink :to="`/blog/tag/${tags[tag].slug}`">
                  {{ tags[tag].name }}
                </NuxtLink>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content("articles", params.slug).fetch();
    const tagsList = await $content("tags")
      .only(["name", "slug"])
      .where({ name: { $containsAny: article.tags } })
      .fetch();
    const tags = Object.assign({}, ...tagsList.map(s => ({ [s.name]: s })));
    const [prev, next] = await $content("articles")
      .only(["title", "slug"])
      .sortBy("createdAt", "asc")
      .surround(params.slug)
      .fetch();
    return {
      article,
      tags,
      prev,
      next
    };
  },
  methods: {
    formatDate(date) {
      const options = { year: "numeric", month: "numeric", day: "numeric" };
      return new Date(date).toLocaleDateString("en", options);
    }
  }
};
</script>

<style lang="scss" scoped>
.card-custom {
  background-color: #fff;
  border: 1px dashed #f1f1f1;
  border-radius: 15px;
}

.article-title {
  font-size: 1.6em;
  font-family: IranSansBold !important;
  text-align: right !important;
  margin: 2em 0.5em 1.2em 0;
  line-height: 1.7;
}

.blog-img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.article-text {
  font-size: 1.15em !important;
  line-height: 2.2 !important;
  text-align: right !important;
  padding: 3em 2em 2em 2em;
  color: #2e2e2e;
}

span {
  color: #353535 !important;
  margin-left: 5px;
}

.svg-inline--fa {
  font-size: 0.9em !important;
  color: #535353 !important;
}
</style>
