<template>
  <div class="container">
    <h1 class="title">مقالات آموزشی</h1>
    <p class="info-text">
      مقالات به‌روز و کاربردی برای افزایش سطح دانش شما.
    </p>
    <div class="row">
      <div class="col-md-3">
        <!-- TOPICS SECTION -->
        <div class="card-custom pr-3 mb-3">
          <h2 class="my-4 filter-title">دسته مقاله</h2>
          <hr />
          <ul class="mb-3 text-right">
            <li v-for="tag of tags" :key="tag.slug">
              <NuxtLink :to="`/blog/tag/${tag.slug}`" class="">
                <font-awesome-icon :icon="['fas', 'tags']" class="icon" />
                {{ tag.name }}
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>

      <!-- ARTICLE SECTION -->
      <div class="col-md-9">
        <div class="row article-section">
          <div
            v-for="article of articles"
            :key="article.slug"
            class="col-lg-4 col-md-6 col-sm-12"
          >
            <div class="card hover mb-4">
              <NuxtLink
                :to="{ name: 'blog-slug', params: { slug: article.slug } }"
              >
                <b-card-img
                  v-if="article.img"
                  class="article-image rounded-0"
                  :src="article.img"
                  alt="Image"
                ></b-card-img>

                <b-card-body>
                  <h2 class="article-title">{{ article.title }}</h2>
                  <!-- <b-card-text class="mb-auto">
                    {{ article.description }}
                  </b-card-text> -->

                  <div class="d-flex justify-content-between info-section">
                    <span class="pb-0">
                      <font-awesome-icon :icon="['fas', 'calendar-alt']" />
                      {{ formatDate(article.createdAt) }}
                    </span>
                    <span class="pb-0">
                      <font-awesome-icon :icon="['fas', 'tags']" />
                      {{ article.category }}
                    </span>
                  </div>
                </b-card-body>
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const articles = await $content("articles", params.slug)
      .only([
        "title",
        "description",
        "img",
        "slug",
        "author",
        "createdAt",
        "category"
      ])
      .sortBy("createdAt", "desc")
      .fetch();
    const tags = await $content("tags", params.slug)
      .only(["name", "description", "img", "slug"])
      .sortBy("createdAt", "asc")
      .fetch();
    return {
      articles,
      tags
    };
  },
  methods: {
    formatDate(date) {
      const options = { year: "numeric", month: "numeric", day: "numeric" };
      return new Date(date).toLocaleDateString("en", options);
    }
  }
};
</script>

<style class="scss" scoped>
.title {
  margin-top: 1.5em !important;
  font-size: 2.3em !important;
  font-family: IranSansBold !important;
  color: #ef476f !important;
  text-align: center;
  margin-bottom: 0.4em;
}

.info-text {
  font-size: 1.03em !important;
  text-align: center !important;
  color: #555 !important;
  margin-bottom: 3em;
}

.card {
  border-radius: 10px !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.17), 0 10px 10px rgba(0, 0, 0, 0.14);
  background-color: rgb(252, 252, 252) !important;
  border: none !important;
  text-align: center;
}

.hover:hover,
.hover:focus {
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.23) !important;
  transition: transform 0.7s !important;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  cursor: pointer;
}

.article-image {
  border-radius: 10px 10px 0 0 !important;
}

.article-title {
  color: #292929;
  font-size: 0.95em !important;
  font-family: IranSansBold !important;
  margin-bottom: 1.5em;
}

.card-custom {
  background-color: #fff;
  border: 1px dashed #f1f1f1;
  border-radius: 15px;
}

.filter-title {
  font-size: 1.25em !important;
  font-family: IranSansBold !important;
  text-align: right;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

hr {
  margin-top: 4px;
  margin-bottom: 1em;
  max-width: 40%;
  border: 1px solid #eee;
}

li {
  font-size: 1.1em !important;
  font-family: IranSans !important;
  padding-bottom: 5px;
  color: #1b1b1b;
}

a:hover,
.icon:hover {
  text-decoration: none !important;
  color: #ed4b6f;
}

.icon {
  font-size: 0.75em !important;
  margin-left: 1em !important;
  color: #686868;
}

span {
  font-size: 0.95em !important;
  color: #353535;
  padding: 0 1em;
}

.svg-inline--fa {
  font-size: 0.85em !important;
  color: #535353 !important;
}

@media only screen and (max-width: 768px) {
  .info-text {
    font-size: 0.85em !important;
    margin-bottom: 2em !important;
  }
}
</style>
