<template>
  <div class="private-classes-background">
    <div class="container pb-5">
      <h1 class="text-center custom-title pt-5 pb-4">
        کلاس های خصوصی ما
      </h1>
      <div class="private-classes py-4">
        <div class="row pricing">
          <div class="col-lg-4 col-sm-12 mb-3">
            <div class="pricing-box hover">
              <div class="pricing-title bg-mock">
                <h3 class="titleSize">
                  Mock Test
                </h3>
              </div>
              <div class="pricing-field">
                <p class="price">۲۰۰,۰۰۰ <span class="toman">تومان</span></p>
                <p class="py-0 my-0 smalltext">
                  آنلاین
                </p>
              </div>
              <div class="pricing-features pt-3">
                <ul>
                  <li>آزمون شبيه سازی زبان هوانوردیتون</li>
                  <li>مکالمه، توصیف عکس و شنیداری</li>
                  <li>آنالیز نقاط ضعف و قوت زبان آموز</li>
                  <li>مشاوره تخصصی</li>
                  <!-- <li>ارائه Certificate of Completion</li> -->
                </ul>
              </div>
              <div class="pricing-action">
                <a href="https://t.me/AskAryaSomething" target="_blank">
                  <base-button
                    block
                    native-type="submit"
                    class="btn btn-info animation-on-hover"
                  >
                    رزرو کلاس
                  </base-button>
                </a>
              </div>
            </div>
          </div>
          <!-- 
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 px-3">
            <div class="pricing-box hover">
              <div class="pricing-title bg-bronze">
                <h3 class="titleSize">
                  برنز
                  Group Classes
                </h3>
              </div>
              <div class="pricing-field">
                <p class="price">۳۵۰,۰۰۰ <span class="toman">تومان</span></p>
                <p class="py-0 my-0 smalltext">
                  گروهی - ۵ جلسه
                </p>
              </div>
              <div class="pricing-features pt-3">
                <ul>
                  <li class="bold">
                    ظرفيت ٤ الی ۶ نفر
                  </li>
                  <li>تمرین مکالمه</li>
                  <li>تمرین لیسنینگ</li>
                  <li>تمرین لغات و تلفظ</li>
                  <li>گواهی پایان دوره</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="https://t.me/AskAryaSomething" target="_blank">
                  <button
                    block
                    disabled
                    native-type="submit"
                    class="btn btn-info"
                  >
                    رزرو کلاس
                  </button>
                </a>
              </div>
            </div>
          </div> -->

          <div class="col-lg-4 col-sm-12 mb-4">
            <div class="pricing-box hover">
              <div class="pricing-title bg-silver">
                <h3 class="titleSize">
                  Bravo
                </h3>
              </div>
              <div class="pricing-field">
                <p class="price">۲,۵۰۰,۰۰۰ <span class="toman">تومان</span></p>
                <p class="py-0 my-0 smalltext">
                  ۱۰ جلسه
                </p>
              </div>
              <div class="pricing-features pt-3">
                <ul>
                  <li>تمرین مکالمه</li>
                  <li>تمرین لغات، تلفظ و گرامر</li>
                  <li>تمرین لیسنینگ</li>
                  <li>يادگيری لغات، تلفظ و گرامر</li>
                  <li>خواندن کتاب و مجلات</li>
                  <li>آموزش نکات کلیدی مکالمه هوانوردی</li>
                  <li>برگزاری ۱ آزمون در طول ترم</li>
                  <li>خواندن مقالات هوانوردی</li>
                  <li>گواهی پایان دوره</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="https://t.me/AskAryaSomething" target="_blank">
                  <base-button
                    block
                    native-type="submit"
                    class="btn btn-info animation-on-hover"
                  >
                    رزرو کلاس
                  </base-button>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 mb-4">
            <div class="pricing-box hover">
              <div class="pricing-title bg-gold">
                <h3 class="titleSize">
                  Alpha
                </h3>
              </div>
              <div class="pricing-field">
                <p class="price">۳,۰۰۰,۰۰۰ <span class="toman">تومان</span></p>
                <p class="py-0 my-0 smalltext">
                  ۱۲ جلسه
                </p>
              </div>
              <div class="pricing-features pt-3">
                <ul>
                  <li>تمرين مكالمه</li>
                  <li>بحث آزاد</li>
                  <li>تمرين ليسنينگ و مکالمه ATC</li>
                  <li>يادگيری لغات، تلفظ و گرامر</li>
                  <li>برگزاری ۲ آزمون در طول ترم</li>
                  <li>نقد فيلم و تاک شو ها</li>
                  <li>آزمون شبيه سازی زبان هوانوردیتون</li>
                  <li>آموزش نکات کلیدی مکالمه هوانوردی</li>
                  <!-- <li>آموزش نکات کلیدی و کاربردی مکالمه هوانوردی</li> -->
                  <li>آموزش نکات کلیدی و کاربردی مکالمه</li>
                  <li>ترجمه رزومه جهت مهاجرت</li>
                  <li>گواهی پایان دوره</li>
                </ul>
              </div>
              <div class="pricing-action">
                <a href="https://t.me/AskAryaSomething" target="_blank">
                  <base-button
                    block
                    native-type="submit"
                    class="btn btn-info animation-on-hover"
                  >
                    رزرو کلاس
                  </base-button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `کلاس های خصوصی ما | Learn Aviation`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'کلاس های خصوصی ما | Learn Aviation',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.private-classes-background {
  background-color: #8338ec;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='453' height='226.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%238338ec' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%238338ec' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.12' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.btn {
  font-weight: inherit;
  font-size: 15px;
  width: 100%;
  padding: 9px 0;
}

.custom-title {
  font-size: 2rem !important;
  color: #fff !important;
  font-family: IranSansBold !important;
}

.section-header {
  font-size: 1.5rem;
  color: white;
}

.bold {
  font-family: IranSansBold !important;
}

li,
ul {
  margin: 0;
  padding: 0;
}

.private-classes {
  // padding: 0 8%;
  .pricing {
    position: relative;
  }

  .pricing-box {
    position: relative;
    border-radius: 16px !important;
    text-align: center;
    box-shadow: 0 10px 19px 6px rgba(0, 0, 0, 0.199) !important;
    background-color: rgb(238, 238, 238);
  }

  .pricing-title {
    background-color: rgb(68, 68, 129);
    border-radius: 16px 16px 0 0;
  }

  .titleSize {
    color: #fff !important;
    font-size: 1.3rem !important;
    font-family: sans-serif, Verdana, Tahoma !important;
    font-weight: bolder;
    padding: 14px 0 12px;
  }

  .pricing-field {
    position: relative;
    padding: 16px 0 !important;
    color: #fff;
  }

  .price {
    font-size: 2rem !important;
    color: #2e2e2e;
    font-family: IranSansBold !important;
    font-weight: normal !important;
    letter-spacing: -0.03em !important;
    padding-top: 0;
    margin: 0 !important;
  }

  .pricing-price:after {
    content: '';
    position: absolute;
    width: 100px;
    border-top: 1px solid rgba(224, 224, 224, 0.3);
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
  }

  .pricing-price span {
    display: inline-block;
    color: #fff;
    margin: 7px 3px 0 0;
    font-size: 2rem;
  }

  .toman {
    font-family: IranSans;
    font-size: 1rem;
  }

  .pricing-features {
    border-bottom: 1px solid rgba(194, 194, 194, 0.212);
  }

  .pricing-features ul {
    margin: 0;
    padding: 17px 0;
    list-style: none;
  }

  .pricing-features li {
    padding: 6px 0;
    font-size: 0.98rem !important;
    color: rgb(63, 63, 63);
  }

  .pricing-action {
    padding: 10px 15px;
  }

  .hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .hover:hover {
    -webkit-box-shadow: 0 10px 30px -5px rgba(136, 136, 136, 0.4);
    box-shadow: 0 10px 30px -5px rgba(114, 114, 114, 0.4);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5);
    cursor: pointer;
  }

  p {
    font-size: 17px;
    padding-top: 13px;
  }

  .smalltext {
    font-size: 17px;
    color: rgb(88, 88, 88);
  }

  .bg-gold {
    background-color: #fcbf49 !important;
  }

  .bg-silver {
    background-color: #574ae2 !important;
  }

  .bg-bronze {
    background-color: #4ecdc4 !important;
  }

  .bg-mock {
    background-color: #e63946;
  }
}

@media (min-width: 1400px) {
  .pricing-box {
    width: 330px !important;
  }
}

@media (min-width: 900px) {
  .pricing-features li {
    font-size: 1.06rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .private-classes {
    padding: 0 30% !important;
  }
}

@media only screen and (max-width: 750px) {
  .private-classes {
    padding: 0 20% !important;
  }
}

@media only screen and (max-width: 500px) {
  .private-classes {
    padding: 0 7% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .pricing-features li {
    font-size: 1.2em !important;
  }
}
</style>
