<template>
  <div dir="rtl" class="bg">
    <div class="container">
      <h1 class="page-title">
        سوالات متداول
        <p>
          دردر اینجا سعی می‌کنیم به سوالات متداولی که ممکن است برای شما پیش
          بیاید پاسخ دهیم.
        </p>
      </h1>
      <!-- FAQ's  -->
      <section class="custom-padding">
        <div role="tablist">
          <!-- Accordion 1 -->
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-1 variant="info">
                <font-awesome-icon :icon="['fa', 'plus']" />
                <span>۱.</span> کلاس ها به چه صورت تشکیل میشوند؟
              </b-button>
            </b-card-header>
            <b-collapse
              id="accordion-1"
              visible
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-card-text>
                  كلاس های آموزشی ما به دلیل شرایط فعلی فعلا به صورت آنلاین
                  برگذار میشوند.</b-card-text
                >
              </b-card-body>
            </b-collapse>
          </b-card>

          <!-- Accordion 2 -->
          <b-card no-body class="mb-2">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-2 variant="info">
                <font-awesome-icon :icon="['fa', 'plus']" />
                <span>۲.</span> منبع کلاس ها چه کتابی هست؟</b-button
              >
            </b-card-header>
            <b-collapse
              id="accordion-2"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-card-text>
                  در کلاس ها از کتاب درسی موجود در بازار تدریس نمیشود، منابع ما
                  جزوات تهیه شده با توجه به تجربیات مربوطه استاد میباشند.
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <!-- Accordion 3 -->
          <b-card no-body class="mb-2">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-3 variant="info">
                <font-awesome-icon :icon="['fa', 'plus']" />
                <span>۳.</span> کلاس خصوصی هم برگزار میکنید؟</b-button
              >
            </b-card-header>
            <b-collapse
              id="accordion-3"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-card-text>
                  بله، کلاس های آموزشی ما به صورت خصوصی هم برگذار
                  میشوند.</b-card-text
                >
              </b-card-body>
            </b-collapse>
          </b-card>

          <!-- Accordion 4 -->
          <b-card no-body class="mb-2">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-4 variant="info">
                <font-awesome-icon :icon="['fa', 'plus']" />
                <span>۴.</span> آزمون ماک به چه درد میخوره؟</b-button
              >
            </b-card-header>
            <b-collapse
              id="accordion-4"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-card-text
                  >ارزیابی سطح زبان، آنالیز دقیق نقاط ضعف و قوت، مشاوره دقیق با
                  توجه به نمره اکتسابی جهت آمادگی در آزمون های زبان
                  هوانوردی.</b-card-text
                >
              </b-card-body>
            </b-collapse>
          </b-card>

          <!-- Accordion 5 -->
          <b-card no-body class="mb-2">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-5 variant="info">
                <font-awesome-icon :icon="['fa', 'plus']" />
                <span>۵.</span> با چه سطحی میتونیم آزمون ماک رو شرکت
                کنیم؟</b-button
              >
            </b-card-header>
            <b-collapse
              id="accordion-5"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-card-text>
                  با هر سطحی که باشین میتونید در آزمون ماک شرکت کنید. و دانش
                  زبان خودتون رو ارزیابی کنید و آمادگی برای آزمون های اصلی
                  خودتون به دست بیاورید.</b-card-text
                >
              </b-card-body>
            </b-collapse>
          </b-card>

          <!-- Accordion 6 -->
          <b-card no-body class="mb-2">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-6 variant="info">
                <font-awesome-icon :icon="['fa', 'plus']" />
                <span>۶.</span> تفاوت شما با بقیه اساتید زبان هوانوردی
                چیست؟</b-button
              >
            </b-card-header>
            <b-collapse
              id="accordion-6"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-card-text
                  >استاد نیود انگلستان هستند و با دارا بودن تجربه در زمینه زبان
                  هوانوردی میتوانند زبان آموز را به درستی راهنمایی
                  کنند.</b-card-text
                >
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  // layout: 'maintenance',

  components: {},
  head() {
    return {
      title: ` سوالات متداول | Learn Aviation`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: ' سوالات متداول | Learn Aviation',
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
.bg {
  min-height: 100vh !important;
  background-color: #fafbfe !important;
  // margin-bottom: 20em !important;
}

.page-title {
  font-size: 2.4rem !important;
  color: rgb(24, 24, 24) !important;
  font-family: IranSansBold !important;
  text-align: center !important;
  padding: 1.5em 0 0.1em 0 !important;

  p {
    display: block !important;
    color: rgb(34, 34, 34) !important;
    font-size: 1.2rem !important;
    padding-top: 1.3em;
    line-height: 1.7em;
  }
}

.custom-padding {
  padding-bottom: 100px !important;
}

@media only screen and (min-width: 1300px) {
  .custom-padding {
    padding: 0 11em 100px 11em !important;
  }

  .page-title {
    padding: 1.5em 0 1em 0 !important;
  }
}

.card {
  background-color: transparent !important;
  border: transparent;
}

.card-header {
  background-color: transparent !important;
  border-bottom: transparent !important;
}

span {
  font-family: IranSansBold !important;
  padding-left: 0.7em !important;
  padding-right: 1em !important;
}

.btn {
  font-size: 1.2rem;
  text-align: right;
  padding: 0.8em;
  background: #ef476f !important;
  // background: #ff0249 !important;
  border-color: transparent !important;
}

.btn-info:focus,
.btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0);
}

.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0);
}

.svg-inline--fa {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;

  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  transition: 1s ease-out;
}

.svg-inline--fa:hover {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.card-body {
  text-align: right;
  font-family: IranSans;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .btn {
    font-size: 1rem;
  }

  .svg-inline--fa {
    font-size: 1.1rem;
    margin-left: 0.5rem;
    margin-right: 0.1rem;
  }

  span {
    padding-left: 0.4em !important;
    padding-right: 0.3em !important;
  }
}
</style>
