<template>
  <div dir="rtl" class="page-bg">
    <HomepageHero />

    <div class="py-3">
      <Skillup />
      <div class="container">
        <hr />
      </div>
    </div>

    <div class="py-3">
      <TopArticles />
      <div class="container">
        <hr />
      </div>
    </div>

    <div class="pt-3">
      <SubjectSelector />
    </div>

    <div class="custom-padding">
      <Founder />
    </div>
  </div>
</template>

<script>
import HomepageHero from "@/components/FrontendComponents/Homepage/HomepageHero";
import Skillup from "@/components/FrontendComponents/Homepage/Skillup";
import SubjectSelector from "@/components/FrontendComponents/Homepage/SubjectSelector";
import TopArticles from "@/components/FrontendComponents/Homepage/TopArticles";
import Founder from "@/components/FrontendComponents/Homepage/Founder";

export default {
  // layout: 'maintenance',

  components: {
    HomepageHero,
    Skillup,
    SubjectSelector,
    TopArticles,
    Founder
  }
};
</script>

<style lang="scss" scoped>
.page-bg {
  background-color: #fafbfe !important;
}

.custom-padding {
  padding-top: 60px;
  padding-bottom: 100px;
}
</style>
